body {
    margin: 0;
}


/*---------------- MENU SECTION ----------------*/

/* CONTAINER MENU */
#menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 85%;
    margin: auto;
    margin-bottom: 50px;
    
    /* background-color:lightcoral; */
}

#menuTitle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    width: 100%;
    color: rgb(133, 15, 15);
    text-align: center;
    font-size: 60px;
}

/* KOTAK TIPE MENU (favorites, breads, dll) */
.menuType{
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    
    /* background-color: grey; */
}

.menuTypeTitle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: rgb(255, 211, 130);
    padding-left: 30px;
    margin-bottom: 0px;
}

.menuTypeTitleDesc{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    color: rgb(255, 238, 208);
    padding-left: 30px;
    margin-bottom: 35px;
}

/* KOTAK LIST MENU (4 image) */
.menuList{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 20px;

    /* background-color: lightcyan; */
}

.arrow{
    width: 3%;
    margin-bottom: 50px;
    /* transition: transform .5s ease; */
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(65, 45, 45, 0.3);
}

.arrow:hover{
    cursor: pointer;
    transform: scale(1.1);
}

.arrow:active{
    cursor: pointer;
    background-color: #f7c58d;
}

.hiddenElement{
    display: none;
}

.menuListItems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    /* background-color: lightseagreen; */
}

.menuListItems img{
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Container untuk image */
.menuListItemsContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: transform .5s ease;

    /* background-color: coral; */
}

.menuListItemsContainer:hover{
    transform: scale(1.05);
}

/* Overlay di image pas hover, jadi gelap image nya */
.menuListItemsOverlayColor {
    position: absolute;
    width: 90%;
    height: 200px;
    border-radius: 5px;
    opacity: 0;
    transition: .5s ease;
    background-color: black;
}
  
.menuListItemsContainer:hover .menuListItemsOverlayColor{
    opacity: 0.65;
}

/* Overlay text pas image di hover */
.menuListItemsOverlayText{
    color: rgb(224, 224, 224);
    font-size: 22px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    opacity: 0;
    transition: .5s ease;
}

.menuListItemsContainer:hover .menuListItemsOverlayText{
    opacity: 1;
}

/* nama menu nya */
.menuListItemsText{
    margin-top: 18px;
    margin-bottom: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(70, 70, 70);
    font-weight: bold;
    font-size: 1.9vw;
}

.menuListItemsPrice{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(70, 70, 70);
    font-size: 1.25vw;
}

#favorites{
    background-image: url(Assets/bg-favorites.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#breads{
    background-image: url(Assets/bg-breads.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#pastry{
    background-image: url(Assets/bg-pastry.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.sectionEndLine{
    width: 95%;
    border: 0.5px solid #dadada;
    margin-bottom: 50px;
}

@media only screen and (max-width:500px) {
    #menuTitle{
        font-size: 40px;
    }

    .menuList{
        flex-direction: row;
        flex-wrap: wrap;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }

    .arrow{
        display: none;
    }

    .menuListItems{
        width: 50%;
    }
    
    .menuListItems img{
        width: 90%;
        height: 150px;
    }
    
    /* Overlay di image pas hover, jadi gelap image nya */
    .menuListItemsOverlayColor {
        width: 90%;
        height: 150px;
    }
    
    /* Overlay text pas image di hover */
    .menuListItemsOverlayText{
        font-size: 18px;
    }
    
    /* nama menu nya */
    .menuListItemsText{
        margin-top: 12px;
        font-size: 16px;
    }

    .menuListItemsPrice{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: rgb(70, 70, 70);
        font-size: 12px;
        margin-bottom: 20px;
    }

    .arrow{
        width: 10%;
        margin-top: 20px;
        margin-left: 5%;
        margin-right: 5%;
    }

    .lines{
        width: 60%;
        margin-bottom: 30px;
        /* background-color: black; */
    }
    
    .hiddenElement{
        display: inline;
    }
}