body {
    margin: 0;
}

header {
    background-color: #fff5eb;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: brown;
    text-align: center;
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.navbar {
    width: 100%;
    display: none;
    align-items: center;
}

.navbar a {
    margin: 20px;
    text-decoration: none;
    color: brown;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

section {
    background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.detail {
    width: 90%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.breadImage {
    width: 90%;
    display: flex;
    position: relative;
    justify-content: center;
}

.breadImage .image {
    width: 100%;
    height: 550px;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;
    object-fit: cover;
}

.breadImage .overlay {
    opacity: 0;
    transition: 0.5s ease;
}

.breadImage:hover .overlay {
    opacity: 1;
}

.breadImage .overlay .ovLeft {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    width: 50px;
    height: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}

.breadImage .overlay .ovLeft a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadImage .overlay .ovLeft img {
    width: 20%;
}

.breadImage .overlay .ovRight {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 50px;
    height: 100%;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    cursor: pointer;
}

.breadImage .overlay .ovRight a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.breadImage .overlay .ovRight img {
    width: 20%;
}

.breadImage .overlay .ovBot {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.breadImage .overlay .ovBot img {
    width: 7%;
}

.space {
    width: 7%;
}

.breadDetail {
    width: 90%;
    display: flex;
    flex-direction: column;
}

.breadDetail .title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-size: 70px;
    color: brown;
    margin-bottom: 30px;
}

.breadDetail .priceAndRate {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.breadDetail .priceAndRate .price {
    width: 70%;
    justify-content: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

.breadDetail .priceAndRate .rate {
    width: 70%;
    justify-content: right;
    display: flex;
    align-items: center;
}

.breadDetail .priceAndRate .rate img {
    width: 100px;
}

.breadDetail .priceAndRate .rate span {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    font-weight: bold;
    margin-left: 15px;
}

.breadDetail .desc {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 30px;
}

.breadDetail .qty {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    justify-content: space-between;
}

.breadDetail .qty #buttonLeft {
    width: 50px;
    height: 50px;
    border-radius: 0;
    border-color: black;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.breadDetail .qty #buttonLeft:hover {
    background-color: darkred;
    color: white;
    transition: 0.2s;
}

.breadDetail .qty #buttonLeft:active {
    transform: translateY(2px);
}

.breadDetail .qty #buttonRight {
    width: 50px;
    height: 50px;
    border-radius: 0;
    border-color: black;
    background-color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    transition: 0.2s;
}

.breadDetail .qty #buttonRight:hover {
    background-color: darkred;
    color: white;
    transition: 0.2s;
}

.breadDetail .qty #buttonRight:active {
    transform: translateY(2px);
}

.breadDetail .qty #quantity {
    width: 100%;
    height: 44px;
    text-align: center;
    border-radius: 0;
    border-color: black;
    border-left: none;
    border-right: none;
    font-weight: bold;
    font-size: 20px;
}

.breadDetail .addToCart {
    background-color: darkred;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.5s;
}

.breadDetail .addToCart:hover {
    opacity: 1;
    transition: 0.5s;
}

.breadDetail .addToCart:active {
    transform: translateY(2px);
}

.breadDetail .addToCart span {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    font-size: 20px;
}

.line {
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    width: 30%;
}

.recommendation {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 70px;
}

.recommendation .recTitle {
    color: brown;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.items {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.otherProduct {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.otherProduct a {
    display: flex;
    justify-content: center;
}

.otherProduct img {
    width: 90%;
    height: 200px;
    object-fit: cover;
    border-radius: 20px;
    box-shadow: 2px 2px 2px gray;
    transition: 0.2s;
}

.otherProduct img:hover {
    transform: translateY(-3px);
}

.otherProduct img:active {
    transform: translateY(3px);
}

.otherProduct span {
    margin: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: darkred;
    font-weight: bold;
    font-size: 24px;
}

footer {
    background-color: darkred;
    height: 100px;
    display: flex;
    flex-direction: column;
}

footer .copyright {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .copyright span {
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width:500px) {
    .navbar {
        display: none;
    }

    section {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .detail {
        width: 100%;
        flex-direction: column;
        margin: 0;
        justify-content: center;
        align-items: center;
    }

    .breadImage {
        width: 100%;
        margin: 0px;
    }

    .breadImage .image {
        width: 100%;
        height: 300px;
        border-radius: 0;
        box-shadow: none;
    }

    .breadImage .overlay {
        opacity: 1;
    }

    .breadImage .overlay .ovLeft {
        width: 12%;
        height: 100%;
    }
    
    .breadImage .overlay .ovRight {
        width: 12%;
        height: 100%;
    }
    
    .breadImage .overlay .ovBot {
        width: 100%;
        height: 10%;
    }

    .breadImage .overlay .ovBot img {
        width: 10%;
    }

    .breadDetail {
        width: 80%;
        margin-top: 30px;
        margin-left: 0;
        margin-right: 0;
    }

    .breadDetail .title {
        font-size: 40px;
    }

    .breadDetail .priceAndRate {
        align-items: unset;
        justify-content: left;
        flex-direction: column;
    }

    .breadDetail .priceAndRate .price {
        margin-left: 0;
    }

    .breadDetail .priceAndRate .rate {
        margin-top: 30px;
        margin-left: 0;
    }

    .line {
        width: 70%;
    }

    .recommendation {
        margin-left: 0;
        margin-right: 0;
    }

    .recommendation .recTitle {
        font-size: 30px;
    }

    .items {
        flex-direction: column;
    }

    .otherProduct {
        margin-left: 0;
        margin-right: 0;
    }

    .otherProduct img {
        width: 100%;
        border-radius: 0;
        box-shadow: none;
    }
}